.product-card {
  border-radius: 0.25rem;
  position: relative;
  max-width: 363px;
  overflow: hidden;
  div.product-name {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0.25rem 0.25rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      @extend %glass;
      font-size: 1.25rem;
      color: $font-color-muted;
      padding: 0.5rem 1rem;
      margin: 0;
    }
  }
  .price {
    position: absolute;
    bottom: 1rem;
    right: 0.5rem;
    padding: 0.25rem 0.75rem;
    background: $bg;
    border-radius: 1rem;
    color: black;
    border: 1px solid darken(white, 20%);
  }
}
