// colors

$bg: #f8f8ff;
$font-color: #212529;
$font-color-muted: #495057;

// grid

$grid-col: 3;
$grid-gap: 1rem;

// general

$container-width: 1200px;
$mobile-breakpoint: 480px;
$tablet-breakpoint: 960px;
