@import "./variables";
@import "./typography";
// components
@import "./fake-menu";
@import "./product-grid";
@import "./product-card";
@import "./image-overlay";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "muli", sans-serif;
  background: $bg;
  color: $font-color;
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 1rem;
}

%glass {
  background: rgba(155, 155, 155, 0.3);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.17);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
