@import "./variables";
@import "./typography";
// components
@import "./fake-menu";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "muli", sans-serif;
  background: $bg;
  color: $font;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
